 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        header, footer {
            background-color: purple;
            color: white;
            text-align: center;
            padding: 20px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .container {
            padding: 15px;
        }

        .feature-row {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20px;
            align-items: center;
        }

       .red-box {
        background-color: darkred;
        color: white;
        font-size: 30px;
        text-align: center;
            padding: 30px;
        width: 100%;
        max-width: 400px;
        display: none; 
        }

       
         /* @media (min-width: 768px) {
        .red-box {
        display: block; */


        .more-puppies-title {
            text-align: center;
            margin: 30px 0 10px 0;
        }

        .two-puppies {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            padding-bottom: 40px;
        }



        @media (min-width: 768px) {

            .feature-row {
                flex-direction: row;
                justify-content: center;
            }

            .feature-row img {
                width: 300px;
            }

            .two-puppies {
                flex-direction: row;
                justify-content: center;
            }

            .two-puppies img {
                width: 450px;
                height: auto;
            }
        }
    
